<h1>Todo List </h1>
<p><em><%= Time.now.to_s %></em></p>
<p>You can see an example of using a loop in an ERB file at <a href="/99bottles">/99bottles</a></p>

</div>
<form action='/' method='POST'>
  <strong>Insert a new Task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='text' name='date' placeholder='due date' />
  <input type='submit' value='Save' class="button" />
</form>
<br />
<form action='/delete' method='POST'>
  <strong>Delete a Task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='submit' value='Save' class="button" />
</form>

<ul>
  <% @tasks.each do |item| %>
  <li><span>
    <%= item.description %>
    <% unless item.due.blank? %>
    <%= '- ' + item.due %>
    <% end %>
  </span></li>
  <% end %>
</ul>
