<h1>To Do List</h1>
<p>Here is some example dynamic content: <em><%= Time.now.to_s %></em></p>
<p>You can see an example of using a loop in an ERB file at <a href="/99bottles">/99bottles</a></p>



<form action='/' method="post">
  <div>
    <label for="task">TASK:</label>
    <input type="text" name="task" />
  </div>
  <div>
    <label for="date">DATE:</label>
    <input type="text" name="date" />
  </div>
  <div class="button">
    <button type="submit" value='Save'>Submit</button>
  </div>
</form>

<ul>
<% @task.each do |line| %>
<li><%= line %> </li>
<% end %>
</ul>

<!--
<form>
  <label for="task" action="demo_form_action.asp" method="get"></label>
  Task: <input type="text" name="task"/>
  <button type="submit" value="Submit"/>
</form>
-->
